services:
{{- if .AdvancedOptions.docker }}
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    environment:
      APP_ENV: ${APP_ENV}
      PORT: ${PORT}
      ForgeX_DB_HOST: ${ForgeX_DB_HOST}
      ForgeX_DB_PORT: ${ForgeX_DB_PORT}
      ForgeX_DB_DATABASE: ${ForgeX_DB_DATABASE}
      ForgeX_DB_USERNAME: ${ForgeX_DB_USERNAME}
      ForgeX_DB_PASSWORD: ${ForgeX_DB_PASSWORD}
    depends_on:
      mysql_bp:
        condition: service_healthy
    networks:
      - ForgeX
{{- end }}
  mysql_bp:
    image: mysql:latest
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${ForgeX_DB_DATABASE}
      MYSQL_USER: ${ForgeX_DB_USERNAME}
      MYSQL_PASSWORD: ${ForgeX_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${ForgeX_DB_ROOT_PASSWORD}
    ports:
      - "${ForgeX_DB_PORT}:3306"
    volumes:
      - mysql_volume_bp:/var/lib/mysql
    {{- if .AdvancedOptions.docker }}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "${ForgeX_DB_HOST}", "-u", "${ForgeX_DB_USERNAME}", "--password=${ForgeX_DB_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s 
    networks:
      - ForgeX
    {{- end }}

volumes:
  mysql_volume_bp:
{{- if .AdvancedOptions.docker }}
networks:
  ForgeX:
{{- end }}
