services:
{{- if .AdvancedOptions.docker }}
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: unless-stopped
    ports:
      - ${PORT}:${PORT}
    environment:
      APP_ENV: ${APP_ENV}
      PORT: ${PORT}
      ForgeX_DB_PORT: ${ForgeX_DB_PORT}
      ForgeX_DB_ADDRESS: ${ForgeX_DB_ADDRESS}
      ForgeX_DB_PASSWORD: ${ForgeX_DB_PASSWORD}
      ForgeX_DB_DATABASE: ${ForgeX_DB_DATABASE}
    depends_on:
      redis_bp:
        condition: service_healthy
    networks:
      - ForgeX
{{- end }}
  redis_bp:
    image: redis:7.2.4
    restart: unless-stopped
    ports:
      - "${ForgeX_DB_PORT}:6379"
    {{- if .AdvancedOptions.docker }}
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 15s
    networks:
      - ForgeX

networks:
  ForgeX:
{{- end }}
