{{- if .AdvancedOptions.docker }}
ForgeX_DB_HOST=psql_bp
{{- else }}
ForgeX_DB_HOST=localhost
{{- end }}
ForgeX_DB_PORT=5432
ForgeX_DB_DATABASE=ForgeX
ForgeX_DB_USERNAME=melkey
ForgeX_DB_PASSWORD=password1234
ForgeX_DB_SCHEMA=public
